body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1, h2 
{
    color: #273361;
}

a 
{
    text-decoration: none;
    color: #3498db;
}

a:hover 
{
    color: #2980b9;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 10px 0;
}
form {
    margin: 20px 0;
}

form.search-form {
    display: flex;
    align-items: center;
}

form.search-form input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

form.search-form input[type="submit"] {
    flex: 0;
}

input[type="text"], input[type="password"], textarea 
{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] 
{
    background-color: #0c8de2;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

nav {
    background-color: #2c3e50;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    padding: 10px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #587da2;
}


.container 
{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

/* 파일 목록 및 검색 결과 */
ul li {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 4px;
}

ul li a {
    color: #2c3e50;
}

ul li a:hover {
    color: #16a085;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #2c3e50;
    color: white;
}

/*파일 업로드/다운로드*/
input[type="file"] {
    margin: 10px 0;
}

a.download-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

a.download-link:hover {
    background-color: #2980b9;
}*/


